/*body {
  margin: 0;
  padding: 0;
}*/

/*section {
  background-color: #E5B931;
  color: black;
  width: 100%;
  position: fixed;
  padding-left:80px;
}*/

header {
  background-color: #E5B931;
  margin-bottom: 40px;
}

section p {
  padding-left:0;
  color: black;
}


main {
  padding-top: 0px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 400px;
  text-align: left;
  border: 1px solid #D3D3D3;
}

.name {
  font-weight: bold;
}

img {
  height: 300px;
  display: block;
  width: 100%;

}

p {
  color: black;
  padding-left: 10px;
}
